* {
  box-sizing: border-box;
}

/* body */

body, html {
  font-family: "Lucida Console";
  font-weight: bold;
  color: black;
  height: 100%;
  margin: 0;
  background-color: white;
}

.table {
  background-color: white;
  color: black;
}

.header h1 {
  text-align: center;
  font-family: "Lucida Console";
  font-weight: bold;
}

p {
  font-family: "Lucida Console";
  padding-left: 20px;
  font-size: 20px;
  font-weight: 530;
}

.headimag {
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtit h5 {
  font-family: "Lucida Console";
  font-weight: bold;
  font-size: 20px;
}

.subtit h6 {
  font-family: "Lucida Console";
  font-weight: bold;
}

.lexisbox {
  width: 35%;
  border: 1px solid black;
  padding: 8px;
  margin: 20px;
  float: right;
  font-size: 15px;
}

.titl {
  font-family: "Lucida Console";
  font-size: 23px;
  font-weight: bold;
}

.subtit {
  font-family: "Lucida Console";
  padding-left: 60px;
  list-style-type: lower-roman;
}

.subsubtit {
  font-family: "Lucida Console";
  list-style-type: disc;
}

.subsubtit a {
  color: rgb(59, 44, 194);
}

.subsubtit a:hover {
  color: gray;
}

.subsubtit1 {
  font-family: "Lucida Console";
}

.subsubtit1 a {
  color: rgb(59, 44, 194);
}

.subsubtit1 a:hover {
  color: gray;
}

.hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}

.hrhalf {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 300px;
  margin-right: 300px;
  border-style: inset;
  border-top: 1px dashed
}

/* footer container */

.grid-container {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto auto auto;
  background-color: black;
  width: 100%;
  padding: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.one {
  margin-left: 15px;
}

.thi {
  margin-right: 0px;
}

.title {
  color: white;
  font-size: 15px;
  font-style: bold;
  padding-bottom: 10px;
}

i a {
  color: white;
  text-decoration: none !important;
}

.four a {
  color: white;
  font-size: 25px;
}

.four a:hover {
  color: gray;
}

.one a {
  color: white;
}

.one a:hover {
  color: gray;
}

@media screen and (max-width: 900px) {
  .grid-container {
    grid-column-gap: 10px !important;
    right: 10px;
  }
}

@media (max-width: 900px) {
  .row, .navbar {
    flex-direction: column;
  }
}

.w3-sidebar a {
  font-family: "Lucida Console";
}

.w3-wide {
  font-family: "Lucida Console";
}